@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Are+You+Serious&display=swap');

body{
text-align: center;

}

#titulo{
    font-family: 'Amatic SC', cursive;
    font-size: 100px;
}

#app{
    background-color: #f2e2ba;
}

#games{
    background-color: #fffd82
}

#chatbot{
    background-color: #baf2bb;
}

